body {
    padding-top: 7%;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1pt solid #bcd8e2;
    color: #93a3b5;
}
.navbar-fixed-top {
    text-align: center;
    border-bottom: 1pt solid #025374;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a {
    color: #025374;
}
/* User menu */
.user {
  margin: 20px 0;
}

.user-menu {
  padding: 20px 0 10px 0;
}

.user-title {
  text-align: center;
  margin-top: 20px;

}

.user-name {
  color: #025678;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 7px;
}

.user-type {
  color: #f38226;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 15px;
}
   
.user-options {
  margin-top: 30px;
}

.user-options ul li {
  border-bottom: 1px solid #f0f4f7;
}

.user-options ul li:last-child {
  border-bottom: none;
}

.user-options ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.user-options ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.user-options ul li a:hover {
  background-color: #fafcfd;
  color: #025374;
}

.user-options ul li.active {
  border-bottom: none;
}

.user-options ul li.active a {
  color: #025374;
  background-color: #f6f9fb;
  border-left: 2px solid #025374;
  margin-left: -2px;
}

.user-profile {
  text-align: center;
  margin-top: 20px;
}
.handyman-jumbotron {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #e6edef;
}
.switch {
    margin-left: 23%;
    margin-right: 50%;
    margin-bottom: 15px;
}
.btn-primary {
  background-color: #025374;
  border-color: #023e56;
}