body {
    padding-top: 150px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*border-left: 1pt solid #bcd8e2;*/
    /* color: #93a3b5; */
    color: #025678;
}
.sidebar-content {
    border-right: 1pt solid #bcd8e2;
}
.navbar-fixed-top {
    text-align: center;
    border-bottom: 1pt solid #025374;
}
.cancel-link {
    border-top: 1pt solid #025374;
    border-bottom: 1pt solid #025374;
}
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Rental Contract and Rental Receipt Views */
.horizontal-left {
    text-align: left !important;
    margin-bottom: 10px;
}
.signature-line {
    width: 280px;
    border-bottom: 1px solid #f0f4f7; 
}
.alert {
    padding: 5px;
}
.alert-info {
    color: #025678;
    background-color: #dceff7;
    border-color: #a1c3d1;
}
.alert-success {
    background-color: #c9efc9;
    border-color: darkseagreen;
    margin-top: 30px;
    padding: 20px;
}
.tool-well {
    max-width: 280px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a {
    color: #025374;
}
hr {
    margin-bottom: 0;
}

/* Add Tool Page*/
.tool-control {
    max-width: 312px;
}
.repair-control {
    max-width: 246px;
}
/* Create New Profile Page */
.profile-areacode {
    padding: 0px;
}

.profile-phone {
    max-width: 157px;
}

/* User menu */
.user {
  margin: 20px 0;
}

.user-menu {
  padding: 20px 0 10px 0;
}

.user-title {
  text-align: center;
  margin-top: 20px;

}

.user-name {
  color: #025678;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 7px;
}

.user-type {
  color: #f38226;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 15px;
}
   
.user-options {
  margin-top: 30px;
}

.user-options ul li {
  border-bottom: 1px solid #f0f4f7;
}

.user-options ul li:last-child {
  border-bottom: none;
}

.user-options ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.user-options ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.user-options ul li a:hover {
  background-color: #fafcfd;
  color: #025374;
}

.user-options ul li.active {
  border-bottom: none;
}

.user-options ul li.active a {
  color: #025374;
  background-color: #f6f9fb;
  border-left: 2px solid #025374;
  margin-left: -2px;
}
.user-profile {
  text-align: center;
  margin-top: 20px;
}
.handyman-jumbotron {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #e6edef;
}
.switch {
    margin-left: 23%;
    margin-right: 50%;
    margin-bottom: 15px;
}
.btn-primary {
  background-color: #025374;
  border-color: #023e56;
}

/* Add Tool View*/
select {
  max-width: 313px;
  width: 313px;
}
.accessory-control {
    max-width: 275px;
    width: 275px !important;
}
#AccessoriesList, .accessory-container {
    padding-bottom: 5px;
}

/* Font Awesome icon customizations */
.circle-check {
    color: #09bc09;
    font-size: 75px;
    font-weight: lighter;
}
