<div class="jumbotron handyman-jumbotron" style="margin-bottom:20px;">
    <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Pickup Reservation Search</h2>
</div>
<form class="form-inline">
    <div class="input-group"> 
        <input type="text" class="form-control accessory-control" aria-label="SearchReservation" placeholder="Search for reservation..."> 
            <div class="input-group-btn" style="width: auto;"> 
                <button type="button" class="btn btn-primary" aria-label="Help">
                    <span class="glyphicon glyphicon-search"></span>
                </button> 
            </div> 
    </div>
</form>
